/*------------------general------------- */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7fb;
    color: #333;
  }
  
  h1, h2 {
    text-align: center;
    margin-top: 20px;
  }

/*------------------navbar------------- */

nav {
    background: #3e9150;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  nav a:hover {
    background: #1b1b1b;
  }




/*------------------main container------------- */

.container {
    width: 90%;
    max-width: 650px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  }




/*------------------input & buttons------------- */

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: #3e9150;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background: #347a43;
;
  }




/*------------------Dashboard Cards------------- */

.card {
    background: #fff;
    padding: 18px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    font-size: 16px;
  }


/*------------------color highlight------------- */

.green { border-left: 8px solid #1b1b1b; }
.red   { border-left: 8px solid #3e9150; }
.blue  { border-left: 8px solid #1b1b1b; }
.orange{ border-left: 8px solid #3e9150; }



/*------------------table style------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  table th, table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background: #eef3ff;
    text-align: left;
  }
  
  .status-paid {
    color: green;
    font-weight: bold;
  }
  
  .status-unpaid {
    color: red;
    font-weight: bold;
  }

  /*---------------delete button-------------*/
  .delete-btn {
  background: #ff4e4e;
  width: 60px;
  padding: 6px;
  border-radius: 6px;
  font-weight: bold;
}
.delete-btn:hover {
  background: #d93636;
}


/*------------------mobile view------------- */

@media (max-width: 600px) {
    nav a {
      display: block;
      margin: 8px 0;
    }
  
    .container {
      width: 95%;
    }
  }